#icons{
    font-size:50px; color: rgb(102, 102, 102);
}
#icons:hover{
    color: aliceblue;
}
#hh2{
    color: aliceblue; font-weight: bold;
}
#footer_a{
    color:rgb(138, 138, 138)
}
hr{
    height:1px;border-width:0;color:gray;background-color:rgb(102, 102, 102)
}
#quote{
    font-size:30px; color: rgb(230, 82, 205);
}
.header_bg {
    background:url("https://png.pngtree.com/thumb_back/fw800/background/20200621/pngtree-abstract-modern-neon-frame-background-image_339537.jpg") no-repeat;
    background-size: cover;
    z-index: 1000;
}
.card-1{
    background: transparent;
}
body{
    background-color: #343A40 !important;
}
.base-nav{
    max-width: 1140px;
    margin: auto;

}
.base-icons, .base-card, .base-footer{
    max-width: 1140px;
    margin: auto;
}
.base-card-3{
    max-width: 1140px;
    margin: auto;
}
.base-card-1{
    max-width: 1140px;
    margin: auto;
    background: none;
}
.search-bar{
    background: linear-gradient(to right, #3366ff 0%, #ff9999 100%);
}
.my-form{
    display: flex;
    flex-flow: nowrap;
}